<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sbuBean" class="cg.demo.springcoreday1.experiment2.SBU">
        <property name="sbuId" value="PES-BU" />
        <property name="sbuHead" value="Kiran Rao" />
        <property name="sbuName" value="Product Engineering Services" />
    </bean>

    <bean id="emp" class="cg.demo.springcoreday1.experiment2.Employee1">
        <property name="employeeId" value="12345" />
        <property name="employeeName" value="Harriet" />
        <property name="salary" value="40000.0" />
        <property name="businessUnit" ref="sbuBean" /> 
    </bean>

</beans>